---
import HeroLogo from '@/components/HeroLogo.astro'
---
<section class="flex flex-col justify-center items-center gap-9">
    <HeroLogo class=" text-primary animate-fade-in-up w-full h-auto md:w-[1000px]" />
</section>