<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
    <div class="flex justify-center items-center">
        <a target="_blank" rel="noopener" href="https://www.instagram.com/" class="hover:scale-125 hover:opacity-70 transition inline-block">
            <img src="./Instagram-logo-medium.svg" alt="Logo de Instagram">
            <span class="flex justify-center text-center">@Tania</span>
        </a>
    </div>
    <div class="grid uppercase text-center gap-x-10 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1fr_1fr]">
        <article class="md:flex-1 flex justify-center item-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h5 class="w-56 text-center">Ceremonia Religiosa</h5>
        </article>
        <article class="md:flex-1 flex justify-center item-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h5 class="w-56 text-center">Resepción</h5>
        </article>
        <article class="md:flex-1 flex justify-center item-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h5 class="w-56 text-center">Vals</h5>
        </article>
        <article class="md:flex-1 flex justify-center item-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h5 class="w-56 text-center">Banquete</h5>
        </article>
    </div>
</section>