<section class="animate-fade-in animate-delay-500 mt-32 mx-auto flex flex-col justify-center items-center text-center text-primary w-full">
    <h3 class="text-2xl font-medium flex flex-col max-w-sm mt-6">Queridos invitados:
        <span>Mi mayor alegría es poder compartir con la familia y amigos este día tan especial. Lo más importante será su compañía.</span>
        <span>Si desean hacer un regalo, este lo pueden hacer en efectivo, colocándolo en un sobre, el cual se podrá depositar en un cofre.</span>
        <span>¡Gracias por ser parte de este momento tan importante!.</span>
    </h3>
</section>