<section class="animate-fade-in animate-delay-500 mt-32 mx-auto flex flex-col justify-center items-center text-center text-primary w-full">
    <h3 class="uppercase text-2xl font-medium flex flex-col max-w-sm mt-6">
        <span>Tambíen te esperamos en</span>
        <span>El Salón Diamante</span>
        <span>Av. Cuauhtémoc 185 Fracc. Magallanes</span>
        <span>Puente Bicentenario</span>
    </h3>
</section>