---
// Supports weights 100-900
//import '@fontsource-variable/jost';
import '@fontsource/libre-baskerville';
import Noise from '@/components/Noise.astro'
import SmokeBackground from '@/components/SmokeBackground.astro';
interface Props{
	title:string
}
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Evento XVI años">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>XVI-Tania</title>
	</head>
	<body>
		<!--<Noise/>-->
		<SmokeBackground />
		<div class="max-w-6xl px-4 lg:px-10 pt-40 mx-auto">
			<slot />
		</div>
	</body>
</html>

<style>
	html {
		font-family: 'Libre Baskerville', serif;
		background: #00000000;
	}
</style>
